@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px hsl(0deg, 0%, 70%);
}
body header .banner {
  display: flex;
  align-items: center;
  gap: 10px;
}
body header .banner p.title {
  font-size: 18px;
}
body header nav.navbar ul.nav_links {
  list-style-type: none;
}
body header nav.navbar ul.nav_links li {
  padding: 10px;
  display: inline-block;
}
body header nav.navbar ul.nav_links li.active {
  border-bottom: 2px solid hsl(0deg, 0%, 5%);
}
body header nav.navbar ul.nav_links li.active a {
  color: hsl(0deg, 0%, 5%);
}
body header nav.navbar ul.nav_links li a {
  display: inline-block;
  text-decoration: none;
  color: hsl(0deg, 0%, 60%);
}
body header nav.navbar ul.nav_links li a:hover {
  color: hsl(0deg, 0%, 5%);
  transition: all 350ms ease-in-out;
}
body section.section_contact {
  margin: 50px auto;
  width: 95%;
}
body section.section_contact > p {
  text-align: center;
  font-size: 34px;
  margin-bottom: 10px;
}
body section.section_contact h1 {
  text-align: center;
  margin-bottom: 20px;
}
body section.section_contact form .form-container {
  margin: 10px auto;
  width: 350px;
}
body section.section_contact form .form-container label, body section.section_contact form .form-container p {
  font-size: 14px;
}
body section.section_contact form .form-container label span {
  color: rgb(255, 0, 76);
}
body section.section_contact form .form-container .form-input, body section.section_contact form .form-container .form-select, body section.section_contact form .form-container textarea {
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid hsla(0deg, 0%, 0%, 0.1);
}
body section.section_contact form .form-btn {
  margin: 10px auto;
  width: 350px;
}
body section.section_contact form .form-btn button {
  margin-bottom: 5px;
  width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  display: block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
body section.section_contact form .form-btn button.submit {
  border: 1px solid hsl(207deg, 100%, 50%);
  background-color: hsla(207deg, 100%, 50%, 0.1);
}
body section.section_contact form .form-btn button.submit:hover {
  background-color: hsl(207deg, 100%, 50%);
  color: hsl(0deg, 0%, 90%);
  transition: all 350ms ease-in-out;
}
body section.section_contact form .form-btn button.reset {
  border: 1px solid hsl(342deg, 100%, 50%);
  background-color: hsla(342deg, 100%, 50%, 0.1);
}
body section.section_contact form .form-btn button.reset:hover {
  background-color: hsl(342deg, 100%, 50%);
  color: hsl(0deg, 0%, 90%);
  transition: all 350ms ease-in-out;
}
body footer {
  padding: 20px;
  background-color: hsl(0deg, 0%, 10%);
  color: hsl(0deg, 0%, 90%);
  text-align: center;
  font-size: 14px;
}/*# sourceMappingURL=contact.css.map */